readme

source/genga
source/CheckGPU
GengaGL/gengaGL
tools/KE
tools/CoordinatesTransformation
tools/ConvertHelioToBarry
tools/Convert_P0T1_to_P1T0
tools/Convert_P1T0_to_P0T1

#HIP
HIP/*.h
HIP/*.cpp
HIP/Makefile

# Sphinx
docs/_build
